﻿
@model CreateCustomerDto
@{
	ViewData["Title"] = "Customer Management";
}
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title"> Add New Customer</div>
						</div>
						
						<div class="card-body">
							<div class="form-group">
								<label for="firstname">Enter Firstname</label>
								<input type="text" class="form-control" asp-for="FirstName" id="firstname">
								<span class="text-danger" asp-validation-for="FirstName"></span>
							</div>
						</div>

						<div class="card-body">
							<div class="form-group">
								<label for="lastname">Enter Lastname</label>
								<input type="text" class="form-control" asp-for="LastName" id="lastname">
								<span class="text-danger" asp-validation-for="LastName"></span>
							</div>

						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="email">Enter Email</label>
								<input type="email" class="form-control" asp-for="Email" id="email">
								<span class="text-danger" asp-validation-for="Email"></span>
							</div>

						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="region">Enter Region</label>
								<input type="text" class="form-control" asp-for="Region" id="region">
								<span class="text-danger" asp-validation-for="Region"></span>
							</div>
						</div>
						
						<div class="card-action d-flex justify-content-center ">
							<button class="btn btn-primary">New Registration</button>
							
						</div><br />
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>